*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5eddf;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    /* grid-template-columns:  */
    height:100vh;
    width: 100%;
    margin: 0;
    color: #000;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

.holder{

    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.entry{
    /* background: rgba(59, 74, 107, .4); */
    background: #293821;
    color: #fff;
    border-radius: 8px;
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;

}
.zip{
    display: flex;
    flex-flow: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;

}
.feel{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px ;
}
.title{
    font-size: 24px;
    padding: 8px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

.inputField{
    display:block;
    height: auto;
    /* width: 100; */
    background:#293821;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    padding: 12px;

}

button{
    width: 200px;
    height: auto;
    background: #3b6b4d;
    color: #35d60d;
    font-size: 26px;
    border: none;
    border-radius: 12px;
    padding: 8px;
 /* box-shadow: 2px 4px 5px #; */
}
button:hover{
    background: #35d60d;
    color: #3b4a6b;

}
h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}